<h1><%= @list.name %></h1>

<% if @list.movies.count > 0 %>
  <ul>
    <% @list.bookmarks.each do |bookmark| %>
      <li>
        <p><%= bookmark.movie.title %></p>
        <p><%= bookmark.movie.overview %></p>
        <p><%= bookmark.movie.rating %></p>
        <%= image_tag bookmark.movie.poster_url, alt: bookmark.movie.title, width: 200, height: 200 %>
        <p>Your comment: <%= bookmark.comment %></p>
        <%= link_to 'Delete', bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Delete #{bookmark.movie.title} from #{@list.name}?"} %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>It's so quiet here... What about adding some movies to this list?</p>
<% end %>

<div>
  <!--button class='btn btn-primary'><%= icon('fa-solid', 'film') %> Add movie</button -->
  <div class="card border p-3 my-5 shadow rounded">
    <%= simple_form_for [@list, @bookmark] do |f| %>
      <%= f.association :movie, collection: Movie.all %>
      <%= f.input :comment %>
      <%= f.submit %>
    <% end %>
  </div>
</div>

<h3>Reviews</h3>

<% if @list.reviews.count > 0 %>
  <ul>
    <% @list.reviews.each do |review| %>
      <li>
        <p>Comment: <%= review.comment %></p>
        <p>Rating: <%= review.rating.to_i %>/5</p>
      </li>
    <% end %>
</ul>
<% else %>
  <p>No reviews were added to this list yet</p>
<% end %>

<div class="card border p-3 my-5 shadow rounded">
  <%= simple_form_for [@list, @review] do |f| %>
    <%= f.input :comment %>
    <%= f.input :rating %>
    <%= f.submit %>
  <% end %>
</div>
